{% extends "base.html" %}
{% block content %}
<h2>Add Student</h2>
<form class="card" method="post" action="{{ url_for('add') }}">
  <label>Full Name</label>
  <input name="name" required>

  <label>Roll Number</label>
  <input name="roll" required>

  <label>Course</label>
  <input name="course">

  <div class="form-actions">
    <button class="primary" type="submit">Add Student</button>
    <a class="link" href="{{ url_for('index') }}">Cancel</a>
  </div>
</form>
{% endblock %}
